.quote-listing {
    padding: 1rem;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.quote-listing__item {
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
 }
.quote-listing__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.quote-listing__image {
    padding-right: 1.5rem;
}

.button, .link-no-underline, .link-no-underline:hover, .link-no-underline__off-hover, .link-no-underline__wrapper a, .main-nav__list a, .supplemental-info a, a {
    text-decoration: none;
}

a {
    color: #e1634d;
}

.quote-listing__body {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

